@charset "utf-8";
/* CSS Document */

/* Tech Specs*/
#filters {
	margin:1%;
	padding:0;
	list-style:none;
	background:#F8F8F8;
}

	#filters ul{
		display:table;
	}

	#filters li {
		float:left;
	}
	
	#filters li span {
		display: block;
		padding:5px 20px;		
		text-decoration:none;
		color:#666;
		cursor: pointer;}

	#filters li span:hover {
		background:#E0E0E0;
	}
	
	#filters li span.active {
/*		background:#337AB7;*/
		color:#fff;}
 
#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width:20%;
	height: same-as-width;
	margin:0px;
	
	display:none;
	padding:5px 5px 2px 5px;
	float:left;
	overflow:hidden;
	border:1px solid #ccc;
	background-color:#fff;
/*	height:200px;*/
	border-radius:6px;
/*	border-top:6px solid #fff;*/
	}

/*#portfoliolist .portfolio:hover {border-top:6px solid #cc0000;}*/

	.power{
			background:#9b59b6;
	}
	
	.power-label-bg{
			background:#b07cc6;
	}
	
	.power-active span.active{
		background:#9b59b6;
	}

	.hardware{
			background:#26c6da;
	}
	
	.hardware-label-bg{
			background:#51d1e1;
	}
	
	.hardware-active span.active{
			background:#26c6da;
	}	
	
	.plug{
			background:#1abc9c;
	}
	
	.plug-label-bg{
			background:#47c9af;
	}

	.plug-active span.active{
			background:#1abc9c;
	}		

	.user{
			background:#e64336;
	}
	
	.user-label-bg{
			background:#eb685e;
	}

	.user-active span.active{
			background:#e64336;
	}	

	.sense{
			background:#ff4081;
	}
	
	.sense-label-bg{
			background:#ff669a;
	}
	
	.sense-active span.active{
			background:#ff4081;
	}
	
	.comm{
			background:#fb8c00;
	}
	
	.comm-label-bg{
			background:#ffa637;
	}	

	.comm-active span.active{
			background:#fb8c00;
	}

	.arduino{
			background:#1C75BC;
	}
	
	.arduino-label-bg{
			background:#2c90e0;
	}

	.arduino-active span.active{
			background:#1C75BC;
	}	
	
	.physical{
			background:#889697;
	}
	
	.physical-label-bg{
			background:#929fa0;
	}	

	.physical-active span.active{
			background:#889697;
	}
	
	.all-active span.active{
		background: #34495e;
	}

	.portfolio-wrapper {
		overflow:hidden;
		position: relative !important;
		cursor:pointer;}

	.portfolio img {
		max-width:100%;
		position: relative;
		top:0;
    -webkit-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:         all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);		
	}

	.staticImg img {
		max-width:100%;
		position: relative;
		top:0px;
		-webkit-transition:none;
		transition:none;
	}

	.portfolio h2 {
		position: relative;
		top:0;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:         all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);	
	padding:0;
	margin:0;
	
	font-size:18px;
	}
	
	.portfolio p {
		position: relative;
		top:0;
    -webkit-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:         all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);	

	font-size:14px;
	line-height:1.2;
	}
	
	.portfolio a:link {
		color: blue;
		padding:3px 6px;
		background-color:#eee;
		font-size:14px;
		text-decoration:none;}
		
	.portfolio a:visited {color: purple;}
	.portfolio a:hover {color: red;}
	.portfolio a:active {color: yellow;} 

	.portfolio .label {
		position: absolute;
		width: 100%;
		height:40px;
		bottom:-40px;
		padding-left:0px;
		padding-right:0px;
		line-height:1.2;
    -webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:         all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
	}

		.portfolio .label-bg {
			/*background:#2c90e0;*/ /*#2a518d*/
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
		}
	
		.portfolio .label-text-1 {
			color:#fff;
			position: relative;
			z-index:500;
			padding:12px 0px;
		}	
		
		.portfolio .label-text-2 {
			color:#fff;
			position: relative;
			z-index:500;
			padding:4px 0px;
		}
		
			.portfolio .text-category {
				display:block;
				font-size:9px;
			}
	
	.portfolio:hover .label {
    bottom:0;
  }
	.portfolio:hover img {
    top:-22px;
  }

	.staticImg:hover img {
    top:0px;
  }    
  
  /*                    */
  .portfolio .fixed-label{
	  
		width: 100%;
		height:26px;
		margin-bottom: 3px;
		padding-top:2px;
		font-size:16px;
/*		background:#1C75BC;*/
		color: #fff;
		text-align:center;
  }

	
	/*Fat Erik's Pipelist*/
#navlist
{
list-style: none;
padding: 0;
margin: 0;
}

#navlist li
{
display: inline;
padding: 0;
margin: 0;
}

#navlist li:before { content: "| "; }
#navlist li:first-child:before { content: ""; }

/*IE workaround*/
/*All IE browsers*/
* html #navlist li
{
border-left: 1px solid black;
padding: 0 0.4em 0 0.4em;
margin: 0 0.4em 0 -0.4em;
}

/*Win IE browsers - hide from Mac IE\*/
* html #navlist { height: 1%; }

* html #navlist li
{
display: block;
float: left;
}

/*End hide*/
/*Mac IE 5*/
* html #navlist li:first-child { border-left: 0; }



/* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.container {
		width: 768px; 
	}

	#portfoliolist .portfolio {
		width:30%;
		margin:1%;
	}
}


/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
	.container { 
		width: 95%; 
	}
	
	#portfoliolist .portfolio {
		width:48%;
		margin:1%;
	}

	#ads {
		display:none;
	}
	
}


/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container {
		width: 80%;
	}
	
	#ads {
		display:none;
	}
	
}

/* #Clearing */

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}