/* latin-ext */
@font-face {
  font-family: 'nasalization';
  src: url(../fonts/nasalization.ttf);
}

@font-face {
  font-family: prototype;
  src: url(../fonts/prototype/Prototype.ttf);
}

@font-face {
  font-family: 'titillium';
  src: url(../fonts/titillium/TitilliumWeb-Regular.ttf);
}
@font-face {
  font-family: 'titillium';
  font-weight: bold;
  src: url(../fonts/titillium/TitilliumWeb-Bold.ttf);
}

