# EXPIRES CACHING ##
ExpiresActive On
ExpiresByType image/jpg "access 10 minute"
ExpiresByType image/jpeg "access 10 minute"
ExpiresByType image/gif "access 10 minute"
ExpiresByType image/png "access 10 minute"
ExpiresByType text/css "access 10 minute"
ExpiresByType application/pdf "access 10 minute"
ExpiresByType application/javascript "access 10 minute"
ExpiresByType application/x-javascript "access 10 minute"
ExpiresByType application/x-shockwave-flash "access 10 minute"
ExpiresByType image/x-icon "access 10 minute"
ExpiresDefault "access 10 minute"
## EXPIRES CACHING ##